<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- sidebar-header.html -->
<div class="sidebar">
  <div class="sidebar-header">
    <img src="6.png" alt="Logo" class="logo">
    <h3 class="hover">AVIRANT </br> ENTERPRISES</h3>
  </div>
  <ul class="nav-links">
    <li data-page="dashboard"><a href="dashboard.html"><i class="fas fa-home"></i>Dashboard</a></li>
    <li data-page="Manage Users"><a href="manage-users.html"><i class="fas fa-users"></i>Manage Users</a></li>
    <li data-page="Manage Projects"><a href="manage-projects.html"><i class="fa-solid fa-list-check"></i>Manage Projects</a></li>
    <li data-page="View Reports"><a href="view-reports.html"><i class="fa-solid fa-eye"></i>View Reports</a></li>
    <li data-page="settings"><a href="settings.html"><i class="fas fa-cog"></i>Settings</a></li>
    <button class="button-2" role="button" id="logout-button">Logout</button>
  </ul>
</div>
<header>
  <h1>Welcome to Information Collector</h1>
</header>

</body>
</html>